-- Run this in Supabase SQL Editor to link your auth user to sales_reps

-- First, check your auth user ID by going to Authentication > Users in Supabase
-- Copy your user ID and replace 'YOUR_AUTH_USER_ID_HERE' below

-- Option 1: If you know your user ID, use this:
INSERT INTO sales_reps (id, name, email, phone, role)
VALUES (
    'YOUR_AUTH_USER_ID_HERE',  -- Replace with your actual auth user ID
    'Admin User',
    'admin@appro.ae',           -- Replace with your actual email
    '+971501234567',
    'admin'
)
ON CONFLICT (id) DO UPDATE 
SET name = EXCLUDED.name,
    email = EXCLUDED.email,
    role = EXCLUDED.role;

-- Option 2: If you want to create for ALL auth users automatically:
INSERT INTO sales_reps (id, name, email, role)
SELECT 
    id,
    COALESCE(raw_user_meta_data->>'name', email) as name,
    email,
    'admin' as role
FROM auth.users
WHERE NOT EXISTS (
    SELECT 1 FROM sales_reps WHERE sales_reps.id = auth.users.id
)
ON CONFLICT (email) DO NOTHING;

